# on your Vercel ใช้ ชื่อตัวแปรนี้เพิ่มลงไปในหน้า Vercel.com -> Settings -> Environment Variable -> add Key and Value
# Key ชื่อตัวแปร "VITE_API_URL"
# Value คือ URL backend ที่เรา Deploy (Ex: http://example.com/api/users)
VITE_API_URL=http://sample.com/api/users